## Oasis Infobyte Internship
## Data Science
## Name: Pritika Bhar

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('iris.csv')    #reading the dataset
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.head(10)  #displaying first 10 data

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [4]:
df.columns    #obtaining the columns of the dataset

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
df.describe()    #gives a description of the dataset

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
df.Species.unique()    #obtaining the unique species

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
d=df.groupby('Species')   #grouping the dataset on the basis of species
d.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica

In [8]:
df.isna().sum()   #check for missing values

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

#### Detection of outlier for SepalLength

In [9]:
Q1=np.percentile(df.SepalLengthCm,25,method='midpoint')    #obtaining the lower Quartile
Q3=np.percentile(df.SepalLengthCm,75,method='midpoint')    #obtaining the higher quartile
IQR=Q3-Q1    #obtaining the inter qrartile range
print(IQR)

1.3000000000000007

In [10]:
lower=Q1-1.5*IQR     #obtaining the lowest value for not being an outlier
upper=Q3+1.5*IQR     #obtaining the highest value for not being an outlier
lower,upper

(3.1499999999999986, 8.350000000000001)

In [11]:
df[(df.SepalLengthCm<lower)|(df.SepalLengthCm>upper)]  #printing the outliers(here there are no outliers)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

#### Detection of outlier for SepalWidth

In [12]:
Q1=np.percentile(df.SepalWidthCm,25,method='midpoint')    #obtaining the lower Quartile
Q3=np.percentile(df.SepalWidthCm,75,method='midpoint')    #obtaining the higher quartile
IQR=Q3-Q1    #obtaining the inter qrartile range
print(IQR)

0.5

In [13]:
lower=Q1-1.5*IQR     #obtaining the lowest value for not being an outlier
upper=Q3+1.5*IQR     #obtaining the highest value for not being an outlier
lower,upper

(2.05, 4.05)

In [14]:
df[(df.SepalWidthCm<lower)|(df.SepalWidthCm>upper)]  #printing the outliers

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
15,16,5.7,4.4,1.5,0.4,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
60,61,5.0,2.0,3.5,1.0,Iris-versicolor

In [15]:
df1=df[(df.SepalWidthCm>lower)&(df.SepalWidthCm<upper)]   #obtaining a new dataset after removing the outliers
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#### Detection of outlier for PetalLength

In [16]:
Q1=np.percentile(df1.PetalLengthCm,25,method='midpoint')    #obtaining the lower Quartile
Q3=np.percentile(df1.PetalLengthCm,75,method='midpoint')    #obtaining the higher quartile
IQR=Q3-Q1    #obtaining the inter qrartile range
print(IQR)

3.4999999999999996

In [17]:
lower=Q1-1.5*IQR    #obtaining the lowest value for not being an outlier
upper=Q3+1.5*IQR     #obtaining the highest value for not being an outlier
lower,upper

(-3.649999999999999, 10.349999999999998)

In [18]:
df1[(df1.PetalLengthCm<lower)|(df1.PetalLengthCm>upper)]  #printing the outliers(here there are no outliers)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

#### Detection of outlier for PetalWidth

In [19]:
Q1=np.percentile(df1.PetalWidthCm,25,method='midpoint')    #obtaining the lower Quartile
Q3=np.percentile(df1.PetalWidthCm,75,method='midpoint')    #obtaining the higher quartile
IQR=Q3-Q1    #obtaining the inter qrartile range
print(IQR)

1.5

In [20]:
lower=Q1-1.5*IQR    #obtaining the lowest value for not being an outlier
upper=Q3+1.5*IQR     #obtaining the highest value for not being an outlier
lower,upper

(-1.95, 4.05)

In [21]:
df1[(df1.PetalWidthCm<lower)|(df1.PetalWidthCm>upper)]  #printing the outliers(here there are no outliers)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

#### Training and Testing data

In [22]:
X=df1[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]  #the independent variables
Y=df1['Species']    #the dependent variables

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [24]:
r=linear_model.LogisticRegression()
r.fit(X_train,Y_train)   #training the model

C:\Users\priti\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
re=r.predict(X_test)  #predicting the species

In [26]:
print(DataFrame({"Predicted species":re}))

   Predicted species
0     Iris-virginica
1     Iris-virginica
2    Iris-versicolor
3    Iris-versicolor
4    Iris-versicolor
5     Iris-virginica
6        Iris-setosa
7        Iris-setosa
8     Iris-virginica
9    Iris-versicolor
10   Iris-versicolor
11    Iris-virginica
12       Iris-setosa
13       Iris-setosa
14       Iris-setosa
15    Iris-virginica
16       Iris-setosa
17   Iris-versicolor
18    Iris-virginica
19    Iris-virginica
20   Iris-versicolor
21    Iris-virginica
22   Iris-versicolor
23       Iris-setosa
24   Iris-versicolor
25   Iris-versicolor
26    Iris-virginica
27    Iris-virginica
28       Iris-setosa
29    Iris-virginica

In [27]:
X_check=np.array([[4.8,3.1,1.3,0.2],[6.2,2.7,5.6,1.9]])
pr=r.predict(X_check)    #predicting the species
print("Prediction of Species: ",pr)

Prediction of Species:  ['Iris-setosa' 'Iris-virginica']

C:\Users\priti\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [28]:
r.score(X_test,Y_test)   #gives the accuracy of model

1.0